.grid {
    width: 220px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.grid div {
    margin: 1px;
    width: 20px;
    height: 20px;    
    background-color: red;
}  

.noPiece {
    background-color: red;
}

.piece {
    background-color: blue;
} 

.freeze {
    background-color: blue;
}